.intro-block {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  width: 1700px;
  height: 820px;
  padding: 0 85px;
  margin: 0 auto;
}

.ib-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ib-subscribe {
  position: relative;
  z-index: 2;
  width: 420px;
  font-size: 22px;
  line-height: 1;
  color: #fff;
}

.ib-title {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 35px;
}

.ib-tg {
  display: block;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  font-size: 21px;
  background-color: #fff;
  color: #000;
}

.ib-cb-st {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.ib-cb {
  display: block;
  margin-right: 10px;
  min-width: 25px;
  min-height: 25px;
  margin-right: 15px;
}
.ib-small-text {
  font-size: 15px;
}

.ib-btn {
  display: block;
  width: 240px;
  height: 55px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
}
