node_modules
.next
.git
.gitignore
*.md
.env*
!/.env
.dockerignore
Dockerfile
docker-compose.yml
.eslint*
.prettier*
eslint.config.mjs
prettier.config*
tsconfig.json
*.tsbuildinfo
.vercel
.vscode
.idea
*.log
.DS_Store
