.btn-change-month {
  flex: 0 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 4px solid #C0C9C6;
  border-radius: 50%;
  transition: .15s border-color;

  & .bcm-arrow {
    transition: .15s transform, .15s color;
    color: #C0C9C6;
  }
  &._next .bcm-arrow {
    transform: rotate(180deg);
  }
  &:hover {
    border-color: var(--accent-color);
    & .bcm-arrow {
      transform: translate(-5px);
      color: var(--accent-color);
    }
    &._next .bcm-arrow {
      transform: rotate(180deg) translateX(-5px);
    }
  }
}

.calendar {
  width: 1700px;
  padding-top: 40px;
  margin: 0 auto;
  @media (max-width: 1800px) {
    width: 1200px;
  }
}
.c-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-current-month {
  color: #BEBDBD;
  margin-bottom: 20px;
}

.calendar-content {
  flex: 1 1 100%;
  padding: 0 70px;
}
.calendar-table {
  width: 100%;
}
.calendar-table-td {
  border: 1px solid #ACACAC;
  &:not(._head-line) {
    position: relative;
    & .c-ttd-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 6px 12px;
    }
    & .c-ttd-ratio {
      width: 100%;
      padding-bottom: 100%;
    }
  }

  &._head-line {
    padding: 6px 12px;
    border-color: #D8D3D3;
    border-bottom-color: #ACACAC;
    color: #989898;
  }
  &._next, &._prev {
    background-color: #EFEFEF;
  }
}
