.header-ghost {
  height: 100px;
  @media (max-width: 1300px) {
    height: 80px;
  }
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #fff;
  box-shadow: 0px 1px 20px #0000002a;
  @media (max-width: 1300px) {
    height: 80px;
  }
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1720px;
  padding: 0 10px;
  @media (max-width: 1800px) {
    width: 1220px;
  }
  @media (max-width: 1300px) {
    width: 820px;
  }
  @media (max-width: 900px) {
    width: 100%;
  }
}
.header-logo {
  font-size: 48px;
  color: var(--accent-color);
  @media (max-width: 1300px) {
    font-size: 36px;
  }
}
.header-links {

}
.header-links-item {
  font-size: 32px;
  transition: .2s color;

  &:not(:last-child) {
    margin-right: 80px;
  }
  &:hover {
    color: var(--accent-color);
  }

  @media (max-width: 1300px) {
    font-size: 20px;
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}
