html, body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
nav, header, footer, aside {
  display: block;
}
*:focus, *:active {
  outline: none;
}
a:focus, a:active {
  outline: none;
}
input, button, textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a, a:visited {
  text-decoration-line: none;
}
a:hover {
  text-decoration-line: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
html {
  font-size: 10px;
}
body {
  background-color: #ffffff;
  font-size: 16px;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration-line: none;
}
